html, body {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@font-face {
  font-family: "Simplifica";
  src: url("fonts/simplifica.ttf");
}

@font-face {
  font-family: "Anurati";
  src: url("fonts/anurati.otf");
}

@font-face {
  font-family: "Plento";
  src: url("fonts/plento.ttf");
}

@font-face {
  font-family: "Blanka";
  src: url("fonts/blanka.otf");
}

@font-face {
  font-family: "Break";
  src: url("fonts/break_regular.ttf");
}

#loading {
  width: 10vw;
  margin: 20vh auto 0 auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
    #loading {
      width: 40vw;
      margin: 10vh auto 0 auto;
    }
}

#loading h1 {
  font-size: 30px;
  font-family:"Simplifica";
}

#content {
  display: none;
}

div.vertical-spacer {
    position: relative;
    width: 100%;
    height: 40vh;
}

@media screen and (max-width: 700px) {
  div.vertical-spacer {
    height: 20vh;
  }
}

div.vertical-spacer-small {
  position: relative;
  width: 100%;
  height: 100px;
}

#header {
    position:relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    z-index: 10;
    height: 10%;
    background-image: linear-gradient(to left, lightgrey, white, transparent);
}

#header .tabs {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding-right: 20px;
}


.tab {
    position: relative;
    padding: 20px;
    color: black;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    transition: all 0.5s ease;
    text-decoration: none;
    transition-delay: 0.15s;
}

@media screen and (max-width: 700px) {
  .tab {
    padding: 5px;
  }
}

.tab:hover {
    transition: all 0.3s ease;
    font-size: 1.75em;
    text-decoration: none;
    text-shadow: grey 0 0 2px;
    color: white;
}

.content-box {
    position: absolute;
    top: 35px;
    right: 0;
    width: 0;
    height: 0;
    padding: 30px 10px 20px 40%;
    margin-right: 20px;
    text-align: right;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    background-color: white;
    box-shadow: -4px 4px 12px 4px lightgrey;
    visibility: collapse;
    transition:
    width 0.3s,
    height 0.3s 0.2s;
}

.tab-item {
    display: inline-block;
    opacity: 0;
    color: black;
    padding: 20px 10px 20px 0;
}

@media screen and (max-width: 700px) {
  .tab-item {
    padding: 15px 10px 15px 0;
  }
}

.tab-item:hover {
  transition: all 0.1s ease;
  text-decoration: none;
  text-shadow: black 0 0 4px;
  color: darkgrey;
}

.tab:hover + .content-box {
    visibility:visible;
    width: 100%;
    height: 50vh;
}

.content-box:hover {
    width: 100%;
    height: 50vh;
    visibility: visible;
}

@media screen and (max-width: 700px) {
  .tab:hover + .content-box {
      height: 60vh;
  }

  .content-box:hover {
      height: 60vh;
  }
}

.content-box:hover > .tab-item {
    opacity: 1;
    transition: 0.5s;
}

.tab:hover + .content-box > .tab-item {
    opacity: 1;
    transition: 0.5s 0.5s;
}


.divider {
  width: 0;
  margin: 0 auto 0 auto;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: silver;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  opacity: 1;
  animation: reveal 1s ease-in;
}

@keyframes reveal {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
    margin-left: 0;
  }

  100% {
    margin-left: 100%;
  }

}

#jumbo-header {
    position: relative;
    padding-left: 0;
    margin-top: 15vh;
    width: 100%;
    height: 80vh;
    z-index: 1;
    transition: 1s;
}


#jumbo-header h1, h2, h3, h4 {
    color: black;
    font-family: "Anurati", "Simplifica";
    margin-left: 12%;
    z-index: 2;

}

#jumbo-header h4 {
  font-size: 52px;
  animation: highlight 2s ease-in-out;
  animation-delay: 1s;
}

#jumbo-header h3 {
  font-size: 52px;
  animation: highlight 2s ease;
  animation-delay: 2.5s;
}

#jumbo-header h2 {
  font-size: 32px;
  margin-left: 15%;
}

#jumbo-header h1 {
  font-size: 140px;
  margin-left: 8%;
  animation: highlight 2.5s ease-in-out;
  animation-delay: 3.5s;
}

@media screen and (max-width: 700px) {
  #jumbo-header h1 {
    margin-left: 10%;
    font-size: 60px;
  }
}

@keyframes highlight {
    0% {
      color: black;
      text-shadow: black 0 0 0;
    }

    50% {
      color: white;
      text-shadow: black 0 0 8px;
    }

    100% {
      color: black;
      text-shadow: black 0 0 0;
    }
}

#jumbo-header h1:hover {
  text-shadow: grey 0 0 4px;
}

#jumbo-header span:hover {
    color: lightgrey;
    text-shadow: black 0 0 8px;
    transition: 0.2s ease;
    cursor: default;
}


#main-img {
    position: absolute;
    width: 120%;
    z-index: 0;
}

#mobile-spacer {
  position: relative;
  width: 100%;
  height: 0;
}

@media screen and (max-width: 700px) {
  #mobile-spacer {
    height: 40vh;
  }
}

#info {
  position: relative;
  perspective: 40px;
  height: 40vh;
  float: left;
}

.card {
  position: absolute;
  z-index: 1;
  left: 10vw;
  top: 10vh;
  width: 75vw;
  height: 40vh;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 4px 14px 5px lightgrey;
}

@media screen and (max-width: 700px) {
  #info {
    scroll-snap-type: x mandatory;
  }
  .card {
    position: relative;
    float: left;
    scroll-snap-align: center;
  }
}

@keyframes slide {
    0% {
      left: 10vw;
    }
    100% {
      left: 15vw;
    }
}

.card.outview {
  animation: flip 1s forwards;
  transition: 1s ease;
}

.card.outview h1 {
  color: white;
  transition: 1s;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    transform: rotateX(0.3deg) translateY(-400px);
  }

  100% {
    transform: rotateX(0deg) translateY(0px);
    z-index: -1;
  }
}

.card h1 {
  font-family: "Simplifica", sans-serif;
  padding: 20px;
  width: 75%;
  margin: auto;
  font-size: 40px;
  color: black;
}

@media screen and (max-width: 700px) {
  .card h1 {
    font-size: 18px;
  }
}

#banners {
    position: relative;
    overflow-x: hidden;
    text-align: left;
    margin-top: 10%;
    padding-left: 2px;
    padding-top: 10%;
    padding-right: 2px;
    z-index: 1;
    font-stretch: expanded;
}

#banners h2 {
    position: relative;
    float: left;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    background-color: azure;
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 2px 2px lightgrey;
}

#banners .row {
    margin-top: 20px;
}

#banners .well {
    position: relative;
    float: left;
    background-image: linear-gradient(to bottom right, slategray, white, white);
    border-style: none;
    margin-right: auto;
    margin-left: 50%;
    height: auto;
    width: 75vw;
    overflow-y: hidden;
    transition: 1s ease;
}

@media screen and (max-width: 700px) {
  #banners .well {
    margin-left: 10%;
  }
}

@media screen and (min-width: 700px) {
  #banners .well:hover {
    z-index: 10;
    margin-left: 43%;
    margin-top: -3%;
    transform: rotateX(0.1deg) rotateY(0.1deg);
    transition: 1s;
    transition-delay: 0.5s;
  }
}

#banners .details {
  display: inline-block;
  position: relative;
  width: 100%;
}

#banners h3 {
    top: 0;
    padding-top: 0;
    padding-bottom: 30px;
    font-family: "Simplifica", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 0;
    color: ghostwhite;
}

#banners p {
    float: left;
    font-family: "Raleway", sans-serif;
    font-stretch: semi-expanded;
    font-size: 20px;
    top: 0;
    padding-top: 30px;
    margin-left: 10%;
}

#banners .spacer {
  width: 100%;
  margin: 50px 0 50px 0;
  border-style: solid;
  float: right;
}

#banners span {
  float:right;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 10px;
}

#banners a {
    position: absolute;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    bottom: 0;
    left: 50%;
    padding-right: 10px;
    color: black;
}

.animate-element-left {
  opacity: 0;
  transform: translate3d(30%, 0, 0);
  perspective: 40px;
}

.animate-element-left img {
  width: 40%;
  margin-left: 5%;
  margin-right: 0;
  z-index: 10;
  top: 0;
  height: auto;
  position: absolute;
  box-shadow: 2px 2px 8px 4px grey;
  transition: 1s;
}

@media screen and (max-width: 700px) {
  .animate-element-left img {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
  }
}

.animate-element-left img:hover {
  width: 42%;
  top: -5%;
  margin-left: 10%;
  transform: rotateX(-0.1deg) rotateY(-0.1deg);
  transition: 1s;
  transition-delay: 0.5s;
}

@media screen and (max-width: 700px) {
  .animate-element-left img:hover {
    width: 95%;
    top: 2%;
    margin-left: 0;
    margin-right: 0;
    transform: rotateX(-0.1deg) rotateY(-0.1deg);
    transition: 1s;
    transition-delay: 0.5s;
  }
}

#footer {
    color: ghostwhite;
    position: relative;
    height: 5%;
    background-color: black;
    opacity: 0.9;

}

#footer .group {
    float: left;
    padding: 40px 50px 20px 50px;
}

#footer .group h5 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}

#footer .group p {
    padding-left: 10px;
}

#footer span {
    position: absolute;
    padding: 5px;
    bottom: 0;
    right: 0;
}
