html, body {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@font-face {
  font-family: "Simplifica";
  src: url("fonts/simplifica.ttf");
}

@font-face {
  font-family: "Anurati";
  src: url("fonts/anurati.otf");
}

#loading {
  width: 10vw;
  margin: 20vh auto 0 auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
    #loading {
      width: 40vw;
      margin: 10vh auto 0 auto;
    }
}

#loading h1 {
  font-size: 30px;
  font-family:"Simplifica";
}

#content {
  display: none;
}

div.vertical-spacer {
    position: relative;
    width: 100%;
    height: 40vh;
}

@media screen and (max-width: 700px) {
  div.vertical-spacer {
    height: 20vh;
  }
}

div.vertical-spacer-small {
  position: relative;
  width: 100%;
  height: 100px;
}

header {
    position:relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    z-index: 10;
    height: 10%;
    background-image: linear-gradient(to left, lightgrey, white, rgba(0,0,0,0));
}

header.inview {
  transition: width 1.2s ease, opacity 0.5s 0.3s;
  width: 100%;
  opacity: 1;
}

header .tabs {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding-right: 20px;
}

.tab {
    position: relative;
    padding: 20px;
    color: black;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    transition: all 0.5s ease;
    text-decoration: none;
    transition-delay: 0.15s;
}

@media screen and (max-width: 700px) {
  .tab {
    padding: 5px;
  }
}

.tab:hover {
    transition: all 0.3s ease;
    font-size: 1.75em;
    text-decoration: none;
    text-shadow: grey 0 0 2px;
    color: white;
}

.content-box {
    position: absolute;
    top: 35px;
    right: 0;
    width: 0;
    height: 0;
    padding: 30px 10px 20px 40%;
    margin-right: 20px;
    text-align: right;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    background-color: white;
    box-shadow: -4px 4px 12px 4px lightgrey;
    visibility: collapse;
    transition:
    width 0.3s,
    height 0.3s 0.2s;
}

.tab-item {
    display: inline-block;
    opacity: 0;
    color: black;
    padding: 20px 10px 20px 0;
}

@media screen and (max-width: 700px) {
  .tab-item {
    padding: 15px 10px 15px 0;
  }
}

.tab-item:hover {
  transition: all 0.1s ease;
  text-decoration: none;
  text-shadow: black 0 0 4px;
  color: darkgrey;
}

.tab:hover + .content-box {
    visibility:visible;
    width: 100%;
    height: 50vh;
}

.content-box:hover {
    width: 100%;
    height: 50vh;
    visibility: visible;
}

@media screen and (max-width: 700px) {
  .tab:hover + .content-box {
      height: 60vh;
  }

  .content-box:hover {
      height: 60vh;
  }
}

.content-box:hover > .tab-item {
    opacity: 1;
    transition: 0.5s;
}

.tab:hover + .content-box > .tab-item {
    opacity: 1;
    transition: 0.5s 0.5s;
}


.divider {
  width: 0;
  margin: 0 auto 0 auto;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: silver;
}

#jumbo-header {
    position: relative;
    padding-left: 0;
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 100%;
    height: 80vh;
    z-index: 1;
    transition: 1s;
}

.ink {
	display: block; position: absolute;
  z-index: 100;
	background-color: black;
	border-radius: 100%;
	transform: scale(0);
}

.ink-2 {
  display: block; position: absolute;
  z-index: 100;
	background-color: darkgrey;
	border-radius: 100%;
	transform: scale(0);
}

.ink.animate {animation: ripple 1s;}

.ink-2.animate {animation: ripple 1s;}

@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(1.5);}
}

#jumbo-header h1, h2, h3, h4 {
    color: black;
    font-family: "Anurati", "Simplifica";
    margin-left: 12%;
    z-index: 2;

}

#jumbo-header h4 {
  font-size: 52px;
  animation: highlight 2s ease-in-out;
  animation-delay: 1s;
}

#jumbo-header h3 {
  font-size: 52px;
  animation: highlight 2s ease;
  animation-delay: 2.5s;
}

#jumbo-header h2 {
  font-size: 32px;
  margin-left: 15%;
}

#jumbo-header h1 {
  font-size: 140px;
  margin-left: 8%;
}

#letter-1 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 3.5s;
  transition: 0.5s ease;
}

#letter-1.ping {
  animation: highlight 1s ease;
}

#letter-1.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

#letter-2 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 3.75s;
  transition: 0.5s ease;
}

#letter-2.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

#letter-3 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 4s;
  transition: 0.5s ease;
}

#letter-3.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

#letter-4 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 4.25s;
  transition: 0.5s ease;
}

#letter-4.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

#letter-5 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 4.5s;
  transition: 0.5s ease;
}

#letter-5.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

#letter-6 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 4.75s;
  transition: 0.5s ease;
}

#letter-6.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

#letter-7 {
  animation: highlight 2.5s ease-in-out;
  animation-delay: 5s;
  transition: 0.5s ease;
}

#letter-7.animate {
  cursor: default;
  transition: 0.5s ease;
  color: white;
  text-shadow: black 0 0 8px;
}

@media screen and (max-width: 700px) {
  #jumbo-header h1 {
    margin-left: 10%;
    font-size: 60px;
  }
}

@keyframes highlight {
    0% {
      color: black;
      text-shadow: black 0 0 0;
    }

    50% {
      color: white;
      text-shadow: black 0 0 8px;
    }

    100% {
      color: black;
      text-shadow: black 0 0 0;
    }
}

.mobile-spacer {
  position: relative;
  width: 100%;
  height: 0;
}

@media screen and (max-width: 700px) {
  #mobile-spacer {
    height: 40vh;
  }
}

.info {
  position: relative;
  height: auto;
  width: 0;
  background-color: lightblue;
}

.info.slide {
  width: 100%;
  transition: 1s;
}

.info .animate-element {
  position: relative;
  z-index: 1;
  opacity: 0;
  height: 70vh;
  margin: 15px 0;
}

.info .animate-element.slide {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.5s;
}

.info .animate-element h1 {
  font-family: "Simplifica", sans-serif;
  padding: 20px;
  width: 75%;
  margin: auto;
  font-size: 50px;
  opacity: 1;
  color: darkslategrey;
}

.info h1 {
  font-family: "Simplifica", sans-serif;
  padding: 20px;
  width: 75%;
  margin: auto;
  font-size: 40px;
  opacity: 1;
  color: black;
}

.info h2, .info a {
  font-family: "Simplifica", sans-serif;
  padding: 20px;
  width: 75%;
  margin: auto;
  font-size: 30px;
  opacity: 1;
  color: black;
}

.info a {
  cursor: pointer;
  color: blue;
}

.info a:hover {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .animate-element h1 {
    font-size: 18px;
  }
}

.banners {
    position: relative;
    overflow-x: hidden;
    height: auto;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 1;
    font-stretch: expanded;
}

.banners .banner-divider {
  width: 100%;
  border-style: solid;
  border-width: 5px 0 0 0;
  border-color: lightgrey;
  margin-left: 50%;
}

@media screen and (max-width: 700px) {
  .banners .banner-divider {
    margin-left: 10%;
  }
}

.banners h2 {
    position: relative;
    float: left;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    background-color: azure;
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 2px 2px lightgrey;
}

.banners .row {
    margin-top: 20px;
}

.banners .well {
    position: relative;
    float: left;
    background-image: linear-gradient(to bottom right, slategray, white, white);
    border-style: none;
    margin-right: auto;
    margin-left: 50%;
    height: auto;
    width: 75vw;
    overflow-y: hidden;
    transition: 1s ease;
}

@media screen and (max-width: 700px) {
  .banners .well {
    margin-left: 10%;
  }
}

@media screen and (min-width: 700px) {
  .banners .well:hover {
    z-index: 10;
    margin-left: 43%;
    margin-top: -3%;
    transform: rotateX(0.1deg) rotateY(0.1deg);
    transition: 1s;
    transition-delay: 0.5s;
  }
}

.banners .details {
  display: inline-block;
  position: relative;
  width: 100%;
}

.banners h3 {
    top: 0;
    padding-top: 0;
    padding-bottom: 30px;
    font-family: "Simplifica", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 0;
    color: ghostwhite;
}

.banners p {
    float: left;
    font-family: "Raleway", sans-serif;
    font-stretch: semi-expanded;
    font-size: 20px;
    top: 0;
    padding-top: 30px;
    margin-left: 10%;
}

.banners .spacer {
  width: 100%;
  margin: 50px 0 50px 0;
  border-style: solid;
  float: right;
}

.banners span {
  float:right;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 10px;
}

.banners a {
    position: absolute;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    bottom: 0;
    left: 50%;
    padding-right: 10px;
    color: black;
}

.banners .animate-element {
  opacity: 0;
  transform: translate3d(30%, 0, 0);
  perspective: 40px;
}

.banners .animate-element.slide {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.5s ease-out;
}

.banners .animate-element img {
  width: 40%;
  margin-left: 5%;
  margin-right: 0;
  z-index: 10;
  top: 0;
  height: auto;
  position: absolute;
  box-shadow: 2px 2px 8px 4px grey;
  transition: 1s;
}

@media screen and (max-width: 700px) {
  .banners .animate-element img {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
  }
}

.banners .animate-element img:hover {
  width: 42%;
  top: -5%;
  margin-left: 10%;
  transform: rotateX(-0.1deg) rotateY(-0.1deg);
  transition: 1s;
  transition-delay: 0.5s;
}

@media screen and (max-width: 700px) {
  .banners .animate-element img:hover {
    width: 95%;
    top: 2%;
    margin-left: 0;
    margin-right: 0;
    transform: rotateX(-0.1deg) rotateY(-0.1deg);
    transition: 1s;
    transition-delay: 0.5s;
  }
}

.contact {
  position: relative;
  float: left;
  height: auto;
  width: 0;
  background-color: lightblue;
}

.contact.slide {
  width: 50%;
  transition: 1s;
}

.contact .animate-element {
  position: relative;
  z-index: 1;
  opacity: 0;
  height: 40vh;
  margin: 15px 0;
}

.contact .animate-element.slide {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.5s;
}

.contact .animate-element a, .animate-element h1 {
  font-family: "Simplifica", sans-serif;
  padding: 20px;
  display: block;
  width: 75%;
  margin: auto;
  font-size: 40px;
  opacity: 1;
  color: darkslategrey;
}

@media screen and (max-width: 700px) {
  .animate-element a {
    font-size: 18px;
  }
}

.contact-info {
  position: relative;
  float: left;
  width: 50%;
}

.contact-info .buttons {
  width: 30vw;
  margin: 0 auto 20px auto;
}

.buttons img {
  height: 60px;
  width: 60px;
  margin: 0 5% 0 5%;
}

.contact-info h1 {
  font-family: "Simplifica", sans-serif;
  padding: 10px;
  display: block;
  width: 75%;
  margin: auto;
  font-size: 40px;
  opacity: 1;
  color: darkslategrey;
}

section.message-box {
  position: relative;
  float: left;
  left: 25%;
  width: 60vw;
  height: auto;
  padding: 0 30px 20px 20px;
  margin: 10vh auto 10vh auto;
  border-radius: 5px;
  background-color: #f2f2f2;
}

section.message-box h1 {
  padding: 10px 0 40px 10px;
  font-family: "Simplifica";
}

section.message-box .labels {
  float: left;
  position: relative;
  text-align: right;
  width: 20%;
}

section.message-box .inputs {
  float: left;
  position: relative;
  width: 80%;
}

section.message-box .labels p {
  font-family: "Simplifica";
  font-size: 22px;
  padding-right: 15px;
  padding-bottom: 20px;
  display: block;
}

input[type=text] , textarea, select, option {
  width: 100%;
  font-family: "Simplifica";
  font-size: 24px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

section.message-box input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

section.message-box input[type=submit]:hover {
  background-color: #45a049;
}
