<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, width=100vw">
    <title>Powers Design</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='universal.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Alegreya|Exo|Abril+Fatface|Raleway" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/title_sugar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll_animate.js') }}"></script>
</head>
<body>
<div id="loading">
  <img id="loading" src="{{ url_for('static', filename='images/loader.gif') }}"/>
  <h1>Just a moment.</h1>
</div>
<div id="content" style="display:none">
    <div class="container-fluid" id="jumbo-header">
        <h4>I nnovate.</h4>
        <h3>&ensp;&ensp;Expand.</h3>
        <h2><br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;create your<br></h2>
        <h1><strong>&ensp;&ensp;&ensp;&ensp;<span id="letter-1">D</span><span id="letter-2">E</span><span id="letter-3">S</span><span id="letter-4">I</span><span id="letter-5">G</span><span id="letter-6">N</span><span id="letter-7">.</span></h1>
    </div>

    <header class="container-fluid">
            <div class="tabs">
                <a class="tab" href="/">Home</a>
                <span class="tab" style="cursor: default;">Info</span>
                    <div class="content-box" >
                        <a class="tab-item" href="/static_websites">Static websites</a> <br>
                        <a class="tab-item" href="/dynamic_websites">Dynamic websites</a> <br>
                        <a class="tab-item" href="/responsive_display">Responsive display</a>
                        <a class="tab-item" href="/maintenance">Maintenance and upkeep</a>
                    </div>
                <span class="tab" style="cursor: default;">Contact</span>
                    <div class="content-box">
                        <a class="tab-item" href="/contact">Email</a> <br>
                        <a class="tab-item" href="/contact">Phone</a> <br>
                        <a class="tab-item" href="/contact">Social media</a> <br>
                        <a class="tab-item" href="/message">Message</a>
                    </div>
                <a class="tab" href="#">Blog</a>
            </div>
    </header>
        <div class="divider"></div>
{% block content %}
{% endblock %}
</div>
<script>
  $(window).on("load", function() {
      setTimeout(showPage, 1000);
  });

  function showPage() {
    $("#loading").remove();
    $("#content").css({"display":"inherit"});

  }
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
