{% extends "base_generic.html" %}

{% block content %}

<style>
  .contact-info {
    float: none;
    margin: 10vh auto 10vh auto;
  }
</style>

<div class="contact-info">
  <div class="buttons">
    <a href="https://www.facebook.com/tristan.powers.54"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a>
    <a href="https://plus.google.com/108752414557703712355"><img src="{{ url_for('static', filename='images/google.png') }}"></a>
    <a href="mailto:tristanpowers74@gmail.com"><img src="{{ url_for('static', filename='images/email.png') }}"></a>
    <a href="tel:904-866-6418"><img src="{{ url_for('static', filename='images/phone.png') }}"></a>
  </div>
  <h1>Name: Tristan Powers</h1>
  <h1>Email: tristanpowers74@gmail.com</h1>
  <h1>Phone/text: 904-866-6418</h1>
  <h1>Facebook: https://www.facebook.com/tristan.powers.54</h1>
</div>
{% endblock %}
