{% extends "base_generic.html" %}

{% block content %}

<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Dynamic Websites</strong></h1>
    <p>Sometimes you need a little more than just a few pages to your site. Maybe you have many different
      products or services you're offering and you need many pages.</p>
    <p>Or perhaps you need something else more complex, such as a booking system, payment system, or messaging database.
      Dynamic websites offer the benefit of speed and simplicity, particularly when there might be a lot of pages with
      the same layout. Instead of a collection of independent webpages, dynamic websites plug information into what's known
      as templates (think Amazon product pages).</p>
    <p>If this is you, I can easily implement just about anything you might need. As well, I can make an admin page for you,
      making any changes you might need a breeze (with no coding knowledge needed).</p>
    <p>Of course if you'd rather not worry about any of that, I can always handle your site upkeep completely, for a fee.
    <a href="/maintenance">Read more about maintenance</a></p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
