{% extends "base_generic.html" %}

{% block content %}

<div class="vertical-spacer-small"></div>
<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Dynamic Websites</strong></h1>
    <h2>Sometimes you need a little more than just a few pages to your site. Maybe you have many different
    products or services you're offering and you need many pages.</h2>
    <h2>Or perhaps you need something else more complex, such as a booking system, payment system, or messaging database.</h2>
    <h2>If this is you, I can easily implement just about anything you might need. As well, I can make an admin page for you,
    making any changes you might need a breeze (with no coding knowledge needed).</h2>
    <h2>Of course if you'd rather not worry about any of that, I can always handle your site upkeep completely, for a fee.
    <a href="/maintenance">Read more about maintenance</a></h2>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
