{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid" id="jumbo-header">
    <img id="backdrop" src="https://dictionary.cambridge.org/images/thumb/black_noun_002_03536.jpg?version=4.0.64">
    <h1 id="title">Website design, &nbsp; &nbsp; &nbsp;<br><br> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made simple</h1>
</div>

<div class="vertical-spacer-small"></div>

<div class="container-fluid" id="info">

        <div class="row">
            <div class="well">
                <h3>Custom Design</h3>
                <div class="images">
                  <img class="thumb" src="{{ url_for('static', filename='images/browser_2.png') }}">
                </div>
                <p>The website you want, how you want. We build your website from the<br> ground up, no cheap website builders used. <br> Show your customers the image you want for your business. </p>
                <a onclick="showMore(0)" href="#" class="dropdown">see more</a>
                <div class="spacer"></div>
                <div class="details">
                  <img class="description-img" src="{{ url_for('static', filename='images/browser_5.png') }}">
                  <img class="description-img" src="{{ url_for('static', filename='images/browser.png') }}">
                  <img class="description-img" src="{{ url_for('static', filename='images/browser_1.png') }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="well">
                <h3>Responsive Layout</h3>
                <div class="images">
                  <img class="thumb" src="{{ url_for('static', filename='images/smartphones.png') }}">
                </div>
                <p>Own a professional website that grabs the attention of your customers <br> and seamlessly integrates with screens of any size.</p>
                <a onclick="showMore(1)" href="#" class="dropdown">see more</a>
                <div class="spacer"></div>
                <div class="details">
                  <img class="description-img" src="{{ url_for('static', filename='images/screen.png') }}">
                  <img class="description-img" src="{{ url_for('static', filename='images/monitor.png') }}">
                  <img class="description-img" src="{{ url_for('static', filename='images/laptop.png') }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="well">
                <h3>Maintenance</h3>
                <div class="images">
                  <img class="thumb" src="{{ url_for('static', filename='images/web-maintenance.png') }}">
                </div>
                <p>Rest easy with continual upkeep and maintenance of your site. <br> Choose a plan that suits your needs.</p>
                <a onclick="showMore(2)" href="#" class="dropdown">see more</a>
                <div class="spacer"></div>
                <div class="details">
                  <span>Here's some more information about stuff and things</span>
                  <p>Now I can have other text hidden, as well.</p>
              </div>
            </div>
        </div>

</div>

<div class="vertical-spacer"></div>

<script>

  var base_height = document.getElementsByClassName("well")[0].offsetHeight;

  function showMore(elem) {
      var well = document.getElementsByClassName("well")[elem];
      var link = document.getElementsByClassName("dropdown")[elem];

      if (well.offsetHeight == base_height) {
        well.style.height = well.scrollHeight + "px";
        link.text = "see less";
      }

      else {
        well.style.height = "470px";
        link.text = "see more";
        base_height = 470;
      }
  }

</script>

{% endblock %}
