{% extends "base_generic.html" %}

{% block content %}


        <div class="animate-element info">
          <div class="animate-element">
            <h1>Hi, I'm <span style="color:ghostwhite">Tristan,</span> and I'm a <span style="color:ghostwhite">freelance web developer.</span></h1>
            <h1>Let's get in touch. We can talk about your project and what you need.</h1>
            <h1>Plus,</h1>
            <h1>I'll give you a great price.</h1>
          </div>
        </div>

        <div class="mobile-spacer"></div>
        <div class="vertical-spacer"></div>
      <section class="container-fluid banners">
              <div class="animate-element">
                <img src="{{ url_for('static', filename='images/blackboard-business-chalkboard-355988.jpg') }}"/>
                <div class="banner-divider"></div>
                <div class="row">
                    <div class="well">
                        <h3>Custom Design</h3>
                        <p>Design is about more than just plugging your ideas into a <br>template. I build my websites from the ground up.</p>
                        <p>I care about your ideas. I can work with you to make them a <br>reality.</p>
                    </div>
                </div>
            </div>
            <div class="vertical-spacer"></div>
              <div class="animate-element">
                <img src="{{ url_for('static', filename='images/android-android-phone-box-441794.jpg') }}"/>
                <div class="banner-divider"></div>
                <div class="row">
                    <div class="well">
                        <h3>Responsive Layout</h3>
                        <p>A website that doesn't work on smartphones and tablets<br> is almost useless now. I carefully respond to different screen <br>
                          sizes, making sure you get the best exposure possible.</p>
                    </div>
                </div>
            </div>
              <div class="vertical-spacer"></div>
              <div class="animate-element">
                <img src="{{ url_for('static', filename='images/access-blur-business-1181271.jpg') }}"/>
                <div class="banner-divider"></div>
                <div class="row">
                    <div class="well">
                        <h3>Backend</h3>
                        <p>Creating a website is a lot more than just making <br> it look pretty. I have the technical skills to build the <br>
                          framework best suited for you, whether it's a simple static <br> site or a complex shopping database. </p>
                    </div>
                </div>
            </div>
            <div class="vertical-spacer-small"></div>
      </section>

      <div class="vertical-spacer-small"></div>

      <footer>
        <article>
          <section class="animate-element contact">
            <div class="animate-element">
              <h1>Let's talk. Shoot me a text, send me an email, or leave me a message.</h1>
              <h1>Or find me on Facebook. I promise I'm a real person.</h1>
            </div>
          </section>
          <section class="contact-info">
            <div class="buttons">
              <a href="https://www.facebook.com/tristan.powers.54"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a>
              <a href="https://plus.google.com/108752414557703712355"><img src="{{ url_for('static', filename='images/google.png') }}"></a>
              <a href="mailto:tristanpowers74@gmail.com"><img src="{{ url_for('static', filename='images/email.png') }}"></a>
              <a href="tel:904-866-6418"><img src="{{ url_for('static', filename='images/phone.png') }}"></a>
            </div>
            <h1>Name: Tristan Powers</h1>
            <h1>Email: tristanpowers74@gmail.com</h1>
            <h1>Phone/text: 904-866-6418</h1>
            <h1>Facebook: https://www.facebook.com/tristan.powers.54</h1>
          </section>
        </article>
        <article>
          <section class="message-box">
            <h1><strong>Leave a message</strong></h1>
            <form action="{{ url_for('get_message') }}" method="post">
              <div class="labels">
                <p>Name</p>
                <p>Number</p>
                <p>Email</p>
                <p>Preferred contact method</p>
                <p>Details</p>
              </div>
              <div class="inputs">
                <input type="text" name="name" placeholder="First and last"></input>
                <input type="text" name="number" placeholder="xxx-xxx-xxx"></input>
                <input type="text" name="email" placeholder="johnsmith@email.com"></input>
                <select name="contact">
                  <option value="" disabled selected>Choose an option</option>
                  <option value="Email">Email</option>
                  <option value="Call">Call</option>
                  <option value="Text">Text</option>
                  <option value="Any">Any</option>
                </select>
                <textarea type="text" name="details" cols=40 rows=5 placeholder="Any details about your project"></textarea>
                <input type="submit" value="Submit" id="submit-button"/>
              </div>
            </form>
          </section>
        </article>
      </footer>
{% endblock %}
