{% extends "base_generic.html" %}

{% block content %}

<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Maintenance</strong></h1>
    <p>A part of every website is maintaining it. Between domains, web hosting, SSL certificates,
      and updating content, it can get overwhelming.</p>
    <p>I get it. You're busy. I'll let you choose how much you want to deal with. I can take care of 100%
      of your website, if you so wish. Shoot me a text or email when you want something updated or added, get
      back to what you need to do, and reap the benefits of online presence. It's difficult enough running a business.</p>
    <p>Or for you do-it-yourselfers, I can make your website, and you can handle everything from there.</p>
    <p>Of course there is a lot of in between area. If you don't want to worry about the technical details, but still
      want to be able to change your website when you want, I can set up admin pages for you to make it easy.</p>
    <p>I'm flexible. Just let me know what you need.</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
