{% extends "base_generic.html" %}

{% block content %}

<div class="vertical-spacer-small"></div>
<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Dynamic Websites</strong></h1>
    <h2>Sometimes you need a little more than just a few pages to your site. Maybe you have many different
    products or services you're offering</h2>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
