{% extends "base_generic.html" %}

{% block content %}
<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Responsive Display</strong></h1>
    <p>There was a time when websites could be made to fit a normal computer screen,
      and that was that. Now, your customers could be looking at your site on anything from a
      5 inch smartphone to a 50 inch curved monitor. It only makes sense to make a website with
      every screen in mind.</p>
    <p>But times are changing even more than that. Gone are the days of having two different
      sites, one for mobile and one for desktop. Google has stated that they prefer the simpler
      approach, which is to have a website that <em>dynamically</em> adjusts its display to
      whatever device its being viewed on.</p>
    <p>Of course this doesn't just happen by magic. But I can take care of that.</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
