{% extends "base_generic.html" %}

{% block content %}

<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Static Websites</strong></h1>
    <p>Not everyone needs a complex website. Sometimes all you need is a way for people to find you in the
    digital world and have access to your info.</p>
    <p>If this is you, the good news is that this makes things much simpler <small>(and cheaper!)</small>.</p>
    <p>With very little backend work to be done with static sites, I won't charge as much. Plus, your site will be
    up and running in less time.</p>
    <p>Need something more?<a href="/dynamic_websites">Read about dynamic websites</a></p>
  </div>
</div>

<div class="vertical-spacer-small"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
