{% extends "base_generic.html" %}

{% block content %}

<div class="vertical-spacer-small"></div>
<div class="animate-element info">
  <div class="animate-element">
    <h1 style="text-decoration: underline"><strong>Static Websites</strong></h1>
    <h2>Not everyone needs a complex website. Sometimes all you need is a way for people to find you in the
    digital world and have access to your info.</h2>
    <h2>If this is you, the good news is that this makes things much simpler (and cheaper!).</h2>
    <h2>With very little backend work to be done with static sites, I won't charge as much. As well, your site will be
    up and running in less time.</h2>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
